/*Header*/
@import url('https://fonts.googleapis.com/css?family=Krub');

body{
    padding-top: 5px;
    width: 850px;
    margin: 0 auto;
    outline: 1px solid red;
}

.information-block, .header-block{
    position: relative;
}

header{
    width: 100%;
    height: 200px;
}

.hidden-element{
    display: none;
}

section .decoration-element{
    position: absolute;
    background-color: #A52A2A;
    width: 40px;
    height: 1826px;
}

section .decoration-element2{
    float: right;
    background-color: #A52A2A;
    width: 40px;
    height: 1826px;
}

.fig{
    height: 200px;
    margin: 0 auto;
}

.fig img{
    position: relative;
    top: 9px;
    left: 10%;
    border-radius: 100%;
}

.fig p{
    font-family: 'Krub', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    float: left;
    position: relative;
    top: 50px;
    padding-left: 17px;
    font-weight: bold;
}

.fig p::first-letter{
    color: #fff;
    letter-spacing: 3px;
}

.fig p sup{
    font-size: 18px;
}

/*Header end*/

/*Summary*/
section.summary{
    height: 200px;
    border-top: 3px solid #A52A2A;
    width: 850px;
}

.summary img{
    margin: 10px 50px 0;
}

.summary h3{
    position: relative;
    right: 640px;
    font-family: 'Krub', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    float: right;
}

article{
    display: block;
    margin-left: 50px;
    width: 760px;
}

article.about-me p{
    font-family: 'Krub', sans-serif;
    font-size: 17px;
}

/*Summary end*/

/*Skills*/
section.skills{
    border-top: 3px solid #A52A2A;
    height: 290px;
    width: 850px;
}

.skills img{
    margin: 10px 50px 0;
}

.skills h3{
    position: relative;
    right: 665px;
    font-family: 'Krub', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    float: right;
}

.border{
    list-style: none;
    padding: 0;
}

.border li {
    font-family: 'Krub', sans-serif;
    padding: 7px 10px;
    margin: 0 20px 10px 0;
    border-radius: 5px;
    border-left: 10px solid #1D636B;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
     -2px -2px 5px 0 rgba(0,0,0,.1);
}
    
/*Skills end*/

/*Code Example*/
section.code-examples{
    border-top: 3px solid #A52A2A;
    height: 200px;
    width: 850px;
}

.code-examples img{
    margin: 10px 50px 0;
}

.code-examples h3{
    position: relative;
    right: 605px;
    font-family: 'Krub', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    float: right;
}

.border a{
    color: #4B915F;
    text-decoration: none;
}

.border a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #4E7B6C;
}

.border a:active{
    text-decoration: underline;
    color: #265539;
}

.border a:active{
    color: #4C925D;
}

/*Code Example end*/

/*Experience*/
section.experience{
    border-top: 3px solid #A52A2A;
    height: 290px;
    width: 850px;
}

.experience img{
    margin: 10px 50px 0;
}

.experience h3{
    position: relative;
    right: 630px;
    font-family: 'Krub', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    float: right;
}

/*Experience end*/

/*Education*/
section.education{
    border-top: 3px solid #A52A2A;
    outline: 1px solid red;
    height: 290px;
    width: 850px;
}

.education img{
    margin: 10px 50px 0;
}

.education h3{
    position: relative;
    right: 635px;
    font-family: 'Krub', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    float: right;
}

/*Education end*/


